<h1>Kittens:</h1>
<%= link_to "Add New Kitten", new_kitten_path%>

  <% @kittens.each do |kitten| %>
    <div>
      <h2><%= link_to kitten.name, kitten_path(kitten) %></h2>
      <p>Age: <%= kitten.age %></p>
      <p>Cuteness: <%= kitten.cuteness %></p>
      <p>Softness: <%= kitten.softness %></p>
    </div>
    <%= button_to "Remove Kitten", kitten_path(kitten), method: :delete %>
    <%= button_to "Edit Kitten", edit_kitten_path(kitten), method: :get %>
  <% end %>
