<h1> <%= @kitten.name %> </h1>
<p>Age: <%= @kitten.age %></p>
<p>Cuteness: <%= @kitten.cuteness %></p>
<p>Softness: <%= @kitten.softness %></p>

<%= button_to "Edit Kitten", edit_kitten_path(@kitten), method: :get %>
<%= button_to "Remove Kitten", kitten_path, method: :delete %>
